# Ambientes virtuais
.venv/

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]

# Configurações locais do IntelliJ/PyCharm
.idea/
*.iml

# Ignora todos os arquivos dentro das subpastas de storage
storage/*/*

# A exceção exclusiva para os arquivos .gitkeep
!storage/*/.gitkeep